
<!-- 
    MAKE A CARD FOR EVERY SHOP
    USE BOOTSTRAP
    First render all the shops, we will later add in the filtering logic
-->
    <%- include("partials/header.ejs") %> 
<style>
    /* STYLING HERE */
    .card {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .card-title, .card-subtitle {
        text-align: center;
    }
    .form-control {
        margin: 10px auto;
    }
</style>

<!-- MAKE A SEPERATE ONE. DON'T CHANGE ANYTHING VARCHA -->
<!-- 
    http://localhost:3000/customer/list
 -->
<div class="py-5">
    <div class="container">
        <div class="row">
            <% for(let i=0; i<shops.length; i++){ %>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Business Name</strong></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= shops[i].businessName %></h6>
                            <h5 class="card-title"><strong>Domain Name</strong></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= shops[i].domains %></h6>
                            <form action="/business/<%= shops[i].id %>/enquire" method="POST" class="form-group">
                                <input 
                                    type="text" 
                                    placeholder="Make an enquiry regarding the product you need" 
                                    name="enquiry"
                                    class="form-control"
                                />
                                <button class="btn btn-block btn-primary">Enquire!</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>