
<!-- 
    MAKE A CARD FOR EVERY SHOP
    USE BOOTSTRAP
    First render all the shops, we will later add in the filtering logic
-->

<style>
    /* STYLING HERE */
</style>

<% for(let i=0; i<shops.length; i++){ %>
    <div>
        <strong>Business Name: </strong>
        <%= shops[i].businessName %> 
        <strong>Domains: </strong>
        <%= shops[i].domains %>
        <form action="/business/<%= shops[i].id %>/enquire" method="POST">
            <input 
                type="text" 
                placeholder="Make an enquiry regarding the product you need" 
                name="enquiry" 
            />
            <button>Enquire!</button>
        </form>
    </div>
    <hr> 
<% } %> 


<!-- MAKE A SEPERATE ONE. DON'T CHANGE ANYTHING VARCHA -->
<!-- 
    http://localhost:3000/customer/list
 -->
<div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
</div>