<h1>This is the home page</h1>

<li><a href="/register/customer">Sign Up</a></li>
<li><a href="/login/customer">Log In</a></li>
<li><a href="/logout/customer">Log Out</a></li>

<hr>

<li><a href="/register/business">Sign Up Business</a></li>
<li><a href="/login/business">Log In</a></li>
<li><a href="/logout/business">Log Out</a></li>