<h1>Login</h1>

<form action="/login/business" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
    <!-- <button>Login</button> -->
</form>

<li><a href="/register/business">Sign Up</a></li>
<li><a href="/business/login">Log In</a></li>
<li><a href="/business/logout">Log Out</a></li>